/*
Zain Kergaye
About me page formatting
*/

/*
Navigation panel
*/

nav { 
  background: white;
  padding: 5px; 
  text-align: center;
}
nav ul { 
  list-style: none; 
  color: white;
}
nav ul li {
  display: inline; 
  margin-left: 15px; 
  font-weight: bold; 
  color:black;
}
nav ul li a {
  color: black; 
  padding: 5px;
  
}
nav ul li a:visited {
  color: black; 
}
nav ul li a:hover { 
  color: black; 
}

/*end*/

/*Header*/
.header {
  padding: 60px;
  text-align: center;
  background: white;
  color: black;
  font-size: 30px;
}
/*Header*/