/* 
Zain Kergaye 
Last Edit date: 9/9/21
~Hours spent: 5
*/
html {
	padding:0px;
}
body {
  background-color: white;
}

h1 {
  color: white;
  text-align: left;
  font-weight: bold;
}

/*Top part of page*/
nav { 
  background: #1abc9c; padding: 5px; 
}
nav ul { 
  list-style: none; 
  color: black;
}
nav ul li {
  display: inline; margin-left: 15px; font-weight: bold; color:black;
}
nav ul li a {
  color: white; 
  padding: 5px;
  
}
nav ul li a:visited {
  color: white; 
}
nav ul li a:hover { 
  color: black; 
}

/*End*/ 

h2 {
	color: white;
	text-align: left;
	font-weight: bold;
}

h3 {
	color: black;
	text-align: left;
	font-weight: bold;
	font-size:25px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: black;
  font-size: 30px;
}

.body {
	padding: 0px;
	text-align: left;
	background: white;
}

.body1 {
	padding: 0px;
	text-align: left;
	background: white;
}

p {
  color: black;
  text-align: left;
}