/* 
Zain Kergaye 
Last Edit date: 9/9/21
~Hours spent: 5
*/
html {
	padding:0px;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: dimgray;
}

.everything {
  background-color:darkorange
}

body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
  font-weight: bold;
}

/*Top part of page*/
nav {  
  padding: 5px; 
  text-align: center;
}
nav ul { 
  list-style: none; 
  color: rgb(255, 255, 255);
}
nav ul li {
  display: inline;
  margin-left: 15px;
  font-weight: bold; 
  color:black;
}
nav ul li a {
  color: rgb(0, 0, 0); 
  padding: 5px;
  
}
nav ul li a:visited {
  color: black; 
}
nav ul li a:hover { 
  color: black; 
}

/*center text css*/
.centered {
  position: absolute;
  top: 50%;
  bottom:10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 64px;
}
/* end */

/*End*/ 

h2 {
	color: white;
	text-align: left;
	font-weight: bold;
}

h3 {
	color: black;
	text-align: left;
	font-weight: bold;
	font-size:25px;
}

h4 {
  color: black; 
  text-align: center;
  font-size:25px;
}

h5 {
  color: black; 
  text-align: center;
  font-size:25px;
}
 /*
.header {
  padding: 60px;
  text-align: center;
  background: rgb(255, 255, 255);
  color: black;
  font-size: 30px;
}
UNUSED HEADER
*/
.body {
	padding: 0px;
  text-align-last: center;
}


.body1 {
	padding: 5px;
  text-align-last: center;
  text-align: center;
  position: relative;
}

/*Below secion now non existant */
p {
  color: black;
  text-align: left;
}


/*Footer of the page*/

div.footer{
  padding: 5px;
  text-align-last: center;
}
/*End footer*/