/* 
Zain Kergaye 
Last Edit date: 9/9/21
~Hours spent: 5
*/
html {
	padding:0px;
  background-color: white;
}
body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
  font-weight: bold;
}

/*Top part of page*/
nav { 
  background: white; 
  padding: 5px; 
  text-align: center;
}
nav ul { 
  list-style: none; 
  color: rgb(255, 255, 255);
}
nav ul li {
  display: inline;
  margin-left: 15px;
  font-weight: bold; 
  color:black;
}
nav ul li a {
  color: rgb(0, 0, 0); 
  padding: 5px;
  
}
nav ul li a:visited {
  color: black; 
}
nav ul li a:hover { 
  color: black; 
}

/*End*/ 

h2 {
	color: white;
	text-align: left;
	font-weight: bold;
}

h3 {
	color: black;
	text-align: left;
	font-weight: bold;
	font-size:25px;
}

.header {
  padding: 60px;
  text-align: center;
  background: rgb(255, 255, 255);
  color: black;
  font-size: 30px;
}

.body {
	padding: 0px;
	text-align: center;
	background: rgb(255, 255, 255);
}


.body1 {
	padding: 5px;
	text-align: center;
	background: white;
}

/*Below secion now non existant */
p {
  color: black;
  text-align: left;
}